server:
  port: 8082

spring:
  application:
    name: program-service

  datasource:
    url: jdbc:postgresql://localhost:5432/program_service_db
    username: postgres
    password: postgree123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true